@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  margin:0;
}

header {
  background-color: #314455;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  width: 100%;
  margin: 0;
  border-bottom: ridge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}
#background {
  padding-top: 40px;
  width: 100%;
  height: 100vh;
  background-color: #19181a;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin: 0;
  /* border-radius: 10px; */
  text-align: center;
  
  font-family: 'Archivo Black', sans-serif;
  
}
.chuck-title {
  text-align: center;
  margin:0;
  color: #B19F9E;
  font-size: 50px;
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.video {
  /* background-color: #9e5a63; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9e5a63+81,000000+100&1+43,1+51,1+51,0+100 */
background: -moz-linear-gradient(top,  rgba(158,90,99,1) 43%, rgba(158,90,99,1) 51%, rgba(158,90,99,0.39) 81%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(158,90,99,1) 43%,rgba(158,90,99,1) 51%,rgba(158,90,99,0.39) 81%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(158,90,99,1) 43%,rgba(158,90,99,1) 51%,rgba(158,90,99,0.39) 81%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e5a63', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  width: fit-content;
  height: 635px;
  margin:auto;
}
#movie-display {
  background-color: #314455;
  width: 400px;
  height: 315px;
  overflow: scroll; 
  margin: auto;
}
#joke {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #644e5b;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
#joke:hover {
  background: #c96567;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }
  h1{
    background-color: #9e5a63;
    color: #97aabd;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;
      text-shadow: 
        0 -1px 0 #fff, 
        0 1px 0 #2e2e2e, 
        0 2px 0 #2c2c2c, 
        0 3px 0 #2a2a2a, 
        0 4px 0 #282828, 
        0 5px 0 #262626, 
        0 6px 0 #242424, 
        0 7px 0 #222, 
        0 8px 0 #202020, 
        0 9px 0 #1e1e1e, 
        0 10px 0 #1c1c1c, 
        0 11px 0 #1a1a1a, 
        0 12px 0 #181818, 
        0 13px 0 #161616, 
        0 14px 0 #141414, 
        0 15px 0 #121212, 
        0 22px 30px rgba(0, 0, 0, 0.9);
  }
  Button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
  Button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
 Button:active {
    position:relative;
    top:1px;
  }
  #greatest-kicks{
    color: #97aabd;
    text-shadow: 2px 2px #314455;
    display: inline;
    /* width: 30px;
  height: 15px; */
  /* background-color: red; */
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  }
  @-webkit-keyframes example {
    0%   {background-color:#314455; left:0px; top:0px;}
    25%  {background-color:#644e5b; left:200px; top:0px;}
    50%  {background-color:#9e5a63; left:200px; top:200px;}
    75%  {background-color:#c96567; left:0px; top:200px;}
    100% {background-color:#97aabd; left:0px; top:0px;}
  }
  @keyframes example {
    0%   {background-color:#314455; left:0px; top:0px;}
    25%  {background-color:#644e5b; left:200px; top:0px;}
    50%  {background-color:#9e5a63; left:200px; top:200px;}
    75%  {background-color:#c96567; left:0px; top:200px;}
    100% {background-color:#97aabd; left:0px; top:0px;}
    
  }
  @media screen and (max-width: 375px){
    button {
      background-color: #9e5a63;
      display: inline;

    }
    #greatest-kicks {
      color: #97aabd;
    text-shadow: 2px 2px #314455;
    }
    #background {
      width: auto;
      height: 812px;
    }
    .video {
      width: 300px;
    }
    iframe {
      width: 300px;
    }
    #movie-display {
      display: flex;
      flex-direction: column;
      width:250px;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }